/* pagination */

.pagination
  display flex
  align-items center
  justify-content center
  margin 1rem auto
  font-family Arial

  a
    border-radius .5rem
    text-align center
    min-width 3rem
    margin 0 .5rem
    padding .5rem
    background #292933
    color #fff

    &:hover
      background #f0f0f0
      color #292933

    &.selected
      background #f7303c
      color #fff

      &:hover
        background #f0f0f0
