.video
  .thumb
    padding-top 56.25% /* format 16/9 */
    background-color #000
    background-image none /* à définir dynamiquement */
    background-size cover
    background-position 50%
    position relative
    .playbtn
      display flex
      justify-content center
      align-items center
      color #ececec
      cursor pointer
      position absolute
      top 0
      width 100%
      height 100%
      background-color #292933a0
      font-size 4rem
      text-decoration none
      &:hover
        font-size 5rem
        background-color #29293330

  .title
    text-transform uppercase
    font-family TradeGothic
    font-size 1.8rem
    color #292933
    margin-bottom 0

  .subtitle
    font-size 1.4rem
    color #585866
