{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Liaisons groupe / styles</h1>
  </header>
  <div>

<table class="table table--zebra">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Style libre</th>
      <th>Styles prédéfinis</th>
    </tr>
  </thead>
  <tbody>
    {% for groupe in groupes %}
    <tr>
      <td><a href="/adm/groupe-de-style/{{ groupe.id }}">{{ groupe.name }}</a></td>
      <td>{{ groupe.style }}</td>
      <td>
      {% if groupe.styles %}
      <ul>
      {% for style in groupe.styles %}
      <li>{{ style.name }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  </div>
</div>

{% include 'common/footer.twig' %}
