{{ include('common/header.twig') }}

<div class="container">
  <div class="col-6 mx-auto">

    <h3 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Mot de passe oublié</h3>
    <div class="border rounded-bottom bg-white p-3">

      {% if sent_ok %}
      <div class="alert alert-info">Si cet email correspond à un compte, vous receverez sous peu un nouveau mot de passe dans votre boîte aux lettres</div>
      {% endif %}

      {% if sent_ko %}
      <div class="alert alert-danger">Un nouveau mot de passe vous a été attribué mais l'envoi de l'email a échoué (c'est plutôt con !). Veuillez <a href="/contact">nous contacter</a>.</div>
        {% if new_password %}
        <div class="alert alert-success">{{ new_password }}</div>
        {% endif %}
      {% endif %}

      {% if err_email_unknown %}
      <div class="alert alert-info">Si cet email correspond à un compte, vous receverez sous peu un nouveau mot de passe dans votre boîte aux lettres</div>
      {% endif %}

      {% if err_email_invalid %}
      <div class="alert alert-danger">Erreur e-mail synatiquement incorrect.</div>
      {% endif %}

      {% if form %}
      <form id="form-lost-password" name="form-lost-password" method="post" action="/auth/lost-password">
        <p>Veuillez entrer l'e-mail que vous avez utilisé pour l'inscription, un nouveau mot de passe vous sera envoyé par e-mail.</p>
        <div class="row mb-3">
          <label for="email" class="col-2 form-label">E-mail</label>
          <div class="col-10">
            <div class="alert alert-danger" id="error_email"{% if not error_email %} style="display: none"{% endif %}>Vous devez renseigner votre e-mail ou e-mail invalide</div>
            <input name="email" id="email" type="email" placeholder="E-mail" required class="form-control">
          </div>
        </div>
        <input id="form-lost-password-submit" name="form-lost-password-submit" class="offset-2 btn btn-primary" type="submit" value="🎲 Générer un nouveau mot de passe">
      </form>
      {% endif %}

    </div>
  </div>{# .col-6 #}
</div>{# .container #}

{{ include('common/footer.twig') }}
