{% include 'common/header.twig' %}

  <div class="container">
    <h1>Groupes</h1>

    {% if groupes|length == 0 %}
    <p>Aucun groupe référencé.</p>
    {% else %}
      <div class="row row-cols-8 row-cols-md-8">
      {% for groupe in groupes %}
      <div class="col mb-4">
        <div class="card text-center">
          <img src="{{ groupe.miniPhoto }}" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title" title="{{ groupe.name }}">{{ groupe.name }}</h5>
            <a class="btn btn-secondary" href="{{ groupe.url }}">Voir</a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    {% endif %}

  </div>

{% include 'common/footer.twig' %}
