/**
 * publicités
 */

.ads
  background #f0f0f0

  img
    display block

  .ads_banner
    width 468px
    height 60px
    margin 20px auto
    display block

  .ads_megabanner
    width 768px
    height 90px

  .ads_gigabanner
    width 970px
    height 90px

  .ads_skyscraper
    width 300px
    height 600px

  .ads_pave
    width 300px
    height 250px
