/* page events/show  */

#event-box-info
  margin 10px
  background #ececec
  width 300px
  padding 10px
  border 1px solid #ffffff

  #event-box-map
    float left
    margin 0 5px 5px 0

/* page events/index */

.events_of_the_day

  h3
    margin-bottom 20px
    background-color #292933
    color #ffe577
    padding 0 5px

  .event
    margin-bottom 20px
    background-color #fff

    .event_header

      .event_date
        padding 5px
        font-weight bold
        color #ffe577
        background #292933

      .event_lieu
        padding 5px

    .event_content
      padding-bottom 5px

      .event_title
        background-color #292933
        display block
        padding 5px

        a
          color #fff

      .event_body
        padding 5px

        .event_price
          background url(/img/icones/coins.png) no-repeat
          padding-left 20px

        .event_facebook
          margin-top 15px
          background url(/img/facebook.gif) no-repeat
          padding-left 20px
