/**
 * page des concerts
 */

.saison

  h3
    padding 5px
    border-bottom 1px solid #cecece

  li
    display inline-block
    margin 5px
    padding 0

.staff li
  margin 2rem 0

  img
    display block
    margin 0 auto 1rem
    width 100px
    height 100px
    border-radius 50%
    background-color #f0f0f0
    box-shadow 0 0 5px #000

  > a > div
    display table-cell
    vertical-align top
    padding 0 1rem

h44
  border-bottom 1px solid #999
  color #666
  padding 5px 0
  margin 25px 0 5px 0
