/**
 * page des concerts
 */

.saison

  h3
    padding 5px
    border-bottom 1px solid #cecece

  li
    display inline-block
    margin 5px
    padding 0

.staff li
  margin 2rem 0

  img
    display block
    margin 0 auto 1rem

  > a > div
    display table-cell
    vertical-align top
    padding 0 1rem

h4
  border-bottom 1px solid #999
  color #666
  padding 5px 0
  margin 25px 0 5px 0

.postule
  float right
  margin 5px
  padding 6px 8px
  background -webkit-gradient(linear, left top, left bottom, from(#055c20), to(#519c56))
  background -webkit-linear-gradient(top, #055c20, #519c56)
  background -moz-linear-gradient(top, #055c20, #519c56)
  background -ms-linear-gradient(top, #055c20, #519c56)
  background -o-linear-gradient(top, #055c20, #519c56)
  -webkit-border-radius 24px
  -mmoz-border-radius 24px
  border-radius 24px
  text-shadow rgba(0,0,0,.4) 0 1px 0
  color white !important
  font-size 15px
  font-family 'Lucida Grande', Helvetica, Arial, Sans-Serif
  text-decoration none !important

  &:hover
    background #276b52

  &:active
    background #1b5c2c
