/* box */

.box
  margin-bottom 20px

.box:after
  content ""
  display block
  clear both

.boxtitle
  background-color #b00
  color #fff
  font-size 13px
  padding 3px 8px
  text-transform uppercase

.boxcontent
  background #fff
  color #333
  padding 5px
  clear right

/* box table */

.boxcontent table
  background-color #fff

.boxcontent th
  background-color #c0c0c0
  font-weight bold
  padding 5px

.boxcontent tr
  padding 5px

.boxcontent tr.odd
  background-color #ececec

.boxcontent tr.even
  background-color #fff

.boxcontent td
  padding 5px

.boxcontent:after
  content ""
  display block
  clear both
