/* box */

.box
  margin-bottom 2rem

  &.box__biseau-top > div
    background #fff url("/img/tri/top-left-ececec.svg") no-repeat top
    background-size 100% 4vw
    padding-top 4vw

  &.box__biseau-bottom > div
    background #fff url("/img/tri/bottom-right-ececec.svg") no-repeat bottom
    background-size 100% 4vw
    padding-bottom 4vw

  &.box__biseau-top-bottom > div
    background-color #fff
    background-image url("/img/tri/top-left-ececec.svg"), url("/img/tri/bottom-right-ececec.svg")
    background-repeat no-repeat, no-repeat
    background-position top, bottom
    background-size 100% 4vw
    padding-top 4vw
    padding-bottom 4vw

  &:after
    content ""
    display block
    clear both

  > header
    position relative

    h1, h2, h3
      font-family 'TradeGothic', Arial
      text-transform uppercase
      padding 2px 10px 0 10px
      background-color #292933
      color #fff
      margin 0

    h1
      font-size 2.0rem
    h2
      font-size 1.9rem
    h3
      font-size 1.8rem

  > div
    background-color #fff
    font-size 1.6rem
    color #292933
    padding 1rem
    border 1px solid

    &.reset
      background none
      padding 0
      border 0

    h1, h2, h3
      font-family 'TradeGothic', Arial
      text-transform uppercase

    h4
      border-bottom 1px solid #999
      color #666
      padding 5px 0
      margin 25px 0 5px 0

    table
      background-color #fff

    th
      background-color #c0c0c0
      font-weight bold
      padding 5px

    tr
      padding 5px

    td
      padding 5px

    &:after
      content ""
      display block
      clear both
