/* box */

.box
  margin-bottom 2rem

  &:after
    content ""
    display block
    clear both

  > header
    position relative

    h1, h2, h3, .boxtitle
      font-family 'TradeGothic', Arial
      text-transform uppercase
      line-height 1.6rem
      font-size 1.6rem
      padding 0 10px
      background #ececec
      display inline-block
      margin-left 2rem

      &:after
        content ''
        left 0
        right 0
        position absolute
        top .45em
        height 2px
        background #000
        z-index -1

  > div
    background #fff
    color #333
    padding 10px
    clear right

    &.reset
      background none
      padding 0

    h4
      border-bottom 1px solid #999
      color #666
      padding 5px 0
      margin 25px 0 5px 0

    table
      background-color #fff

    th
      background-color #c0c0c0
      font-weight bold
      padding 5px

    tr
      padding 5px

      .odd
        background-color #ececec

      .even
        background-color #fff

    td
      padding 5px

    &:after
      content ""
      display block
      clear both
