/* Breadcrumb Styles */

.breadcrumb

  ul

    li
      display inline-block

      a,
      span
        display inline-block
        padding 1rem 0

      a
        font-weight bold

      &:after
        content '〉'
        padding 1rem 0 1rem 1rem

      &:last-child:after
          content ''
