/* Breadcrumb Styles */

.breadCrumb
  text-align left

  ul

    li
      display inline

      div.chevronOverlay
        position absolute
        right 0
        top 0
        z-index 2

      span
        display block
        overflow hidden

      a
        display inline-block
        padding 5px
        margin 10 5px 0 0
        background #f0f0f0
        border 2px solid

.breadCrumb ul li.first a:hover
  background-position 0 -16px

.breadCrumb ul li.last
  background none
  margin-right 0
  padding-right 0

.chevronOverlay
  display none
  background url(/img/breadcrumbs/chevron_overlay.png) no-repeat 100% 0
  width 13px
  height 20px
