/* Breadcrumb Styles */

.breadcrumb
  margin-bottom 1rem

  ul

    li
      display inline-block

      a,
      span
        display inline-block

      a
        font-weight bold

      &:after
        content '〉'
        padding-left 1rem

      &:last-child:after
          content ''
