#comment-box

  input,
  textarea
    width 300px

  textarea
    height 150px

  input[type=submit]
    width 90px
    margin-left 120px

  label
    float left
    margin-right 30px
    margin-top 5px
    width 90px

  li
    margin 5px

  .comment
    margin 5px
    padding 10px

  .odd
    background-color #ececec
    border 1px solid #cecece
    &:hover
      border-color #333

  .even
    background-color #cecece
    border 1px solid #acacac
    &:hover
      border-color #333

