#comment-box
  wwidth 500px

#comment-box input,
#comment-box textarea
  width 300px

#comment-box textarea
  height 150px

#comment-box input[type=submit]
  width 90px
  margin-left 120px

#comment-box label
  float left
  margin-right 30px
  margin-top 5px
  width 90px

#comment-box li
  margin 5px

#comments .comment
  margin 5px
  padding 10px

#comments .odd
  background-color #ececec
  border 1px solid #cecece

#comments .even
  background-color #cecece
  border 1px solid #acacac

#comments .odd:hover
  border 1px solid #333333

#comments .even:hover
  border 1px solid #333333
