/* likebox de l'accueil */

div.likeboxwrap
  width 495px
  height 545px
  overflow hidden

div.likeboxwrap iframe
  margin -2px

/* bouton partager sur photo/video/audio ... */

.fb-share-box
  padding 5px
  margin 5px 0
  height 25px
  background-color #ffffff

.fb-share-link
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  padding 5px 5px 5px 20px
  background #eceef5 url(/img/icones/fb-link.png) 3px 5px no-repeat
  color #3f5d9a !important
  border solid 1px #cad4e7
  font-size 0.9em
  position absolute
  height 12px
  
.fb-share-link:hover
  border-color #9dacce
  text-decoration none
