@font-face
  font-family 'TradeGothic'
  src url('../fonts/trade-gothic-bold.woff2?#iefix') format('woff2'),
      url('../fonts/trade-gothic-bold.woff') format('woff'),
      url('../fonts/trade-gothic-bold.ttf') format('truetype')
  font-weight bold
  font-style normal
