@font-face
  font-family 'TradeGothic'
  src url('../fonts/tradegothic.eot')
  src url('../fonts/tradegothic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/tradegothic.woff') format('woff'),
      url('../fonts/tradegothic.ttf') format('truetype')
  font-weight bold
  font-style normal
