/**
 * Pied de page
 */

footer
  background #292933

  &:before
    content ''
    display: block
    height 62px
    background #ececec url(/img/foule.png) repeat-x

.footer
  max-width 680px
  margin 0 auto

  & > li
    display inline-block
    padding 0 1em 1em 1em
    vertical-align top
    width 32%

    @media screen and (max-width: 680px)
      &
        width 100%
        display block

    & h4
      font-family TradeGothic
      text-transform uppercase
      display block
      margin .5rem 0
      color #fff
      border-bottom 1px solid

    & a
      color #999
      display inline-block
      padding 2px 0

vendorize(property, value)
  -webkit-{property} value
  {property} value

.footer img
  vendorize(filter, grayscale(1))
  margin-right 5px
