/**
 * Pied de page
 */

footer
  background #292933
  position absolute
  width 100%
  bottom 0

  @media screen and (max-width: 680px)
    &
      position static

  &:before
    content ''
    display: block
    height 62px
    background #ececec url(/img/foule.png) repeat-x

.footer
  max-width 680px
  margin 0 auto

  > li
    display inline-block
    padding 0 1em 1em 1em
    vertical-align top
    width 32%

    @media screen and (max-width: 680px)
      &
        width 100%
        display block

    h4
      font-family TradeGothic
      text-transform uppercase
      display block
      margin .5rem 0
      color #fff
      border-bottom 1px solid #999

    a
      color #999
      display block
      padding 2px 0

  .facebook, .twitter, .instagram, .email
    background-repeat no-repeat
    padding-left 24px

  .facebook
    background-image inline('../img/social/facebook.svg')

  .twitter
    background-image inline('../img/social/twitter.svg')

  .instagram
    background-image inline('../img/social/instagram.svg')

  .email
    background-image inline('../img/social/email.svg')
    background-size 16px 16px
    background-position 3px center

vendorize(property, value)
  -webkit-{property} value
  {property} value

.footer img
  vendorize(filter, grayscale(1))
  margin-right 5px
