.grpitem
  background-color #292933
  color #fff
  text-align center

  img
    display block
    width 100%
    height auto

  p
    padding-top 1rem
    font-weight bold
    text-transform uppercase
