.grpitem
  background-color #292933
  color #fff
  text-align center

  img
    display block
    width 100%
    height auto
    background-color #000

  p
    font-size 1.1rem
    padding-top 1rem
    font-weight bold
