header.hdr
  max-width 1000px
  margin 20px auto
  display flex

  .logo
    width 100px
    height 90px
    background-image url(/img/logo_adhoc.png)
    background-repeat no-repeat
    background-size contain
    margin-right auto

    span
      display none

  .megabanner
    width 728px
    height 90px
    margin-left auto

    img
      display block
      width 728px
      height 90px
