/* menu du haut */

#menu-wrapper
  position relative
  max-width 1000px
  margin 0 auto

#menu_haut
  max-width 1000px
  margin 0 auto
  font-family 'TradeGothic', Arial
  font-size 1.6rem
  border-top 2px solid
  border-bottom 2px solid

  & > li
    display inline-block

  & > li:hover, > li.menuselected:hover
    background-color color_red

  & > li.menuselected
    background-color #292933

  & > li > a
    display block
    color #000
    font-size 1.6rem
    padding .2rem .6rem
    text-transform uppercase

  & > li > ul
    background-color color_red
    width 1000px
    height 30px
    top 30px
    margin 0
    left 0
    float left
    pposition absolute
    z-index 10
    display inline

  & > li > ul > li
    display inline
    float left

  & > li > ul > li > a
    font bold 1.1em Arial
    color #fff
    padding 5px
    height 20px
    display block

/* social icons */

#follow ul li
  margin 0 3px

#social ul li a, #follow ul li a
  display block
  width 24px
  height 24px

#social ul:hover, #follow ul:hover
  cursor pointer

.item-mobile
  background-position 0 -24px

.item-mobile:hover
  background-position 0

.item-search
  background-position -24px -24px

.item-search:hover
  background-position -24px 0

.item-facebook
  background-position -48px -24px

.item-facebook:hover
  background-position -48px 0

.item-myspace
  background-position -72px -24px

.item-myspace:hover
  background-position -72px 0

.item-twitter
  background-position -96px -24px

.item-twitter:hover
  background-position -96px 0

.item-dailymotion
  background-position -120px -24px

.item-dailymotion:hover
  background-position -120px 0

.item-youtube
  background-position -144px -24px

.item-youtube:hover
  background-position -144px 0

.item-rss
  background-position -168px -24px

.item-rss:hover
  background-position -168px 0

