/* menu du haut */

#menu-wrapper
  position relative
  max-width 1000px
  margin 0 auto
  text-align center

#menu_haut
  font-family 'TradeGothic', Arial
  font-size 2.2rem
  border-top 1px solid
  border-bottom 1px solid

  > li
    display inline-block
    color color_black

  > li:hover
    background-color color_black
    color #fff

  > li > a
    display block
    padding .2rem .6rem
    text-transform uppercase

  > li > ul
    display none
    position absolute
    background-color color_black
    color #fff
    z-index 10
    text-align left

  > li > ul > li
    font-size .5em

  > li > ul > li > a
    font 1.4em TradeGothic, Arial
    text-transform uppercase
    padding 5px
    display inline-block

/* social icons */

#follow ul li
  margin 0 3px

#social ul li a, #follow ul li a
  display block
  width 24px
  height 24px

#social ul:hover, #follow ul:hover
  cursor pointer

.item-mobile
  background-position 0 -24px

  &:hover
    background-position 0

.item-search
  background-position -24px -24px

  &:hover
    background-position -24px 0

.item-facebook
  background-position -48px -24px

  &:hover
    background-position -48px 0

.item-myspace
  background-position -72px -24px

  &:hover
    background-position -72px 0

.item-twitter
  background-position -96px -24px

  &:hover
    background-position -96px 0

.item-dailymotion
  background-position -120px -24px

  &:hover
    background-position -120px 0

.item-youtube
  background-position -144px -24px

  &:hover
    background-position -144px 0

.item-rss
  background-position -168px -24px

  &:hover
    background-position -168px 0
