/* Ajustement post knacss */

ul
  list-style none
  margin 0
  padding 0

/* propriétés générales */

/* couleurs */

color_red=#ed3438
color_black=#292933

body
  background #ececec
  font-size 1.4rem
  color #000
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased /* fix bold mac osx */

/* pas de stylage particulier des liens ... */

a, a:link, a:visited, a:active, a:hover
  color inherit
  text-decoration none
