/**
 * boite de partage vers réseaux sociaux
 */

.social-share-box

  display flex

  li
    margin-left 1rem

    &:first-child
      margin-left 0

    a
      display inline-block
      padding .5rem
      color #fff
      font-weight bold

      &.facebook
        background #3a5795

      &.twitter
        background #55acee

.fb-event-button,
.fb-event-button:hover
  border 1px solid #29447e
  padding 4px
  background-color #5c75a9
  color #ffffff !important
  font-weight bold
  text-decoration none
