/**
 * Page plan du site
 */

.tree_top
  background url(/img/tree/top.png) no-repeat -1px -3px
  padding-left 24px
  padding-bottom 6px

.tree
  margin-top -5px
  margin-left -1px

.tree,
.tree ul
  list-style-type none

.tree li
  padding-left 1.2em
  border-left 1px #c0c0c0 solid
  background url(/img/tree/horizontal.png) no-repeat left 10px
  margin-left 1em
  font-weight bold
  padding-top 4px
  padding-bottom 1px

.tree a
  padding-left 0.2em

.tree a.selected
  font-weight bold

.tree li:last-child
  background url(/img/tree/last.png) no-repeat -12px -2px
  border none

.tree
  padding-left 0em

.tree li.last
  padding-bottom 0

.tree li ul
  padding 0

.tree li ul li
  padding 1px 0 1px 15px
  font-size 11px
  font-weight normal

.tree li ul li.last
  padding-bottom 0
