static_url = 'http://static.adhocmusic.com'

@import '_reset' // Reset CSS v2.0 - Meyer
@import '_border-box' // Border Box model
@import '_clearfix'
@import '_main'
@import '_menu'
@import '_breadcrumb'
@import '_box'
@import '_featured'
@import '_assoce'
@import '_agenda'
@import '_concours'
@import '_newsletter'
@import '_admin'
@import '_pagination'
@import '_facebook'
@import '_rwd' // Responsive Web Design
