  {foreach from=$membres key=cpt item=membre}
  <tbody>
    <tr>
      <td>{$membre->getIdContact()|escape}</td>
      <td><a href="/adm/membres/{$membre->getIdContact()}">{$membre->getPseudo()|escape}</a></td>
      <td>{$membre->getLastName()|escape}</td>
      <td>{$membre->getFirstName()|escape}</td>
      <td>{$membre->getEmail()|escape}</td>
      <td>{$membre->getCreatedAt()|date_format:'%d/%m/%y'}</td>
      <td>{$membre->getModifiedAt()|date_format:'%d/%m/%y'}</td>
      <td>{$membre->getVisitedAt()|date_format:'%d/%m/%y'}</td>
      <td>{$membre->getLastNl()|date_format:'%d/%m/%y'}</td>
    </tr>
  </tbody>
  {/foreach}
