# spam
.DS_Store

# dépendances npm
node_modules

# dépendances bower
# gestionnaire de paquets front-end
bower_components

# dépendances composer
# gestionnaire de paquets back-end avec autoloader
vendor

# tous les contenus utilisateur (audio, video, photo...) ici
/static

# stockage MySQL avec docker
/db

/docker/mysql/initdb.d/*.sql
/docker/mysql/initdb.d/*.sql.gz

# cache smarty
/smarty

# cache smarty, images ...
cache

# medias utilisateurs (video, mp3, photos ...)
media

# FTP AD'HOC
ftp

# des logs ...
log

# export brunch
public
