# cache smarty
cache

# FTP AD'HOC
ftp

# des logs ...
log

# cache des imagettes resizées
static/img/cache

# medias utilisateurs (video, mp3, photos ...)
static/media

# tmp
public/transit

# export brunch
public-brunch

# dépendances npm
node_modules

# dépendances bower
bower_components

# dépendances composer
vendor
