includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: 6
  bootstrapFiles:
    - bootstrap.php
  paths:
    - src
    - www
  excludePaths:
    - tmpfs/templates_c/??/*.php
  strictRules:
    noVariableVariables: false
