
</div>{# .site-content #}

{% include 'common/footer-menu.twig' %}

<button type="button" id="up" name="retour en haut de la page">↑</button>

{% if script_vars %}
<script>
var asv = {{ script_vars|json_encode|raw }}
</script>
{% endif %}

{% for script_url in footer_scripts %}
<script src="{{ script_url }}"{% if script_url ends with '.mjs' %} type="module"{% endif %}></script>
{% endfor %}

{% for inline_script in inline_scripts %}
<script>
{{ inline_script }}
</script>
{% endfor %}

</body>
</html>
