/* index */
.admlinks li a {
    background: #ccc;
    width: 85px;
    height: 45px;
    float: left;
    margin: 1px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
.admlinks li a:hover {
    background: #999;
}
/* forums */
.thread-avatar {
    width: 25px;
    height: 25px;
    float: left;
}
.thread-avatar-full {
    width: 50px;
    height: 50px;
}
.msg {
    display: block;
    width: 350px;
}
.subscribers {
    padding: 5px;
}
.message {
    margin-bottom: 20px;
    background: #f0f0f0; 
    border: 1px solid #9f9f9f;
}
.message-meta {
    float: left;
    padding: 10px;
    line-height: 1.6em;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .message-meta {
        margin: 10px;
    }
}
.message-meta img {
    display: block;
    margin: 0 auto;
}
.message-body {
    padding: 10px;
    margin: 10px 10px 10px 135px;
    background-color: #fff;
    font-size: 1.25em;
    line-height: 1.25em;
}
@media screen and (max-width: 1000px) {
    .message-body {
        margin: 10px;
}
.message-body p {
    margin-bottom: 5px;
}
.message-body ul {
    list-style-type: disc;
    padding-left: 15px;
}
.message-body li {
    margin-bottom: 5px;
}
/* ftp-list */
.ftp {
    width: 100%;
    margin: 10px auto;
}
.ftp tr {
    border: 0;
}
.ftp td {
    padding: 1px;
    font-family: Courier;
    font-size: 1.2em;
}
