/* version bootstrap de la feuille de style 2024 */

@import "adhoc-bs-font.css";

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #ececec;
}

a {
  color: inherit;
}

#brand {
  font-family: TradeGothic;
  background: url("../img/logos/note.svg") no-repeat 0 0/2rem;
  padding: 0 2.5rem;
  font-size: 1.5rem;
}

header {
  background: #292933 url("/img/tri/bottom-right-ececec.svg") no-repeat bottom;
  background-size: 100% 0vw;
  padding-bottom: 0vw;
  color: #a7a7a7;
}

footer {
    background: #292933 url("/img/tri/top-left-ececec.svg") no-repeat;
    background-size: 100% 2vw;
    padding-top: 4vw;
    padding-bottom: 20px;
    color: #a7a7a7;
}
footer h4 {
  font-family: TradeGothic;
  text-transform: uppercase;
  color: white;
  font-size: 1.25rem;
}
footer a:not(:hover) {
  text-decoration: none;
}