.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #292933;
}

.login.page .form {
  height: 100px;
  text-align: center;
  width: 100%;
}

.login.page .form .userNameInput {
  background-color: #fff;
  color: #292933;
  border: 2px solid #292933;
  text-align: center;
}

.login.page .title {
  font-size: 200%;
}

.login.page .userNameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .userNameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.userName {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #292933;
  bottom: 0;
  line-height: 32px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
