{% include 'common/header.twig' %}

<div class="container">
  <h1>Mentions Légales</h1>
  <h2>L'Association</h3>
  <p>
  Le site <strong>adhocmusic.com</strong> est édité par <strong>AD'HOC</strong>,
  Association loi 1901 à but non lucratif basée à Épinay-sur-Orge. Le directeur de la publication est Martin Pham Van en sa qualité de président.
  </p>
  <h2>Hébergement</h2>
  <p>
  Le site adhocmusic.com est hébergé par la société <strong>OVH</strong>,<br>
  SAS au capital de 5 000 000 € RCS Roubaix – Tourcoing 424 761 419 00045<br>
  Code APE 6202A - N° TVA : FR 22 424 761 419<br>
  Siège social : 2 rue Kellermann 59100 Roubaix - France.
  </p>
  <h2>Respect de la législation "Informatiques et libertés"</h2>
  <p>
  Le site <strong>adhocmusic.com</strong> est déclaré à la C.N.I.L. sous le n° 838403.<br>
  Loi informatique et libertés du 6 janvier 1978.<br>
  Pour toute rectification et accès aux données personnelles, utilisez notre <a href="/contact">formulaire de contact</a>.
  </p>
  <h2>Droit à l'image</h2>
  <p>
  Le site héberge des photos de manifestations publiques musicales, vous pouvez <a href="/contact">nous contacter</a> pour toute demande de mise hors ligne.
  </p>
  <h2>Propriété intellectuelle</h2>
  <p>
  Le site héberge des musiques d'artistes qui ont fait une démarche active de diffusion de leurs oeuvres
  et propose un système de streaming. Le téléchargement des oeuvres n'est pas autorisé.
  </p>
</div>

{% include 'common/footer.twig' %}
