/* Breadcrumb Styles */

.breadcrumb
  margin 0 1rem 1rem 1rem
  text-transform uppercase

  ul

    li
      display inline-block

      a,
      span
        display inline-block

      a
        font-weight bold
        &:hover
          text-decoration underline

      &:after
        color #292933
        content '/'
        padding-left 1rem
        padding-right .5rem

      &:last-child:after
          content ''
