/* Breadcrumb Styles */

.breadcrumb
  margin 1rem
  text-transform uppercase

  ul

    li
      display inline-block

      a,
      span
        display inline-block

      a.home
        span
          &.mobile
            display none

          @media screen and (max-width: 680px)
            &
              display none
              &.mobile
                display inline-block

      &:last-child
        font-weight bold

      &:after
        color #292933
        content '/'
        padding-left .5rem
        padding-right .5rem

      &:last-child:after
          content ''
