/* Breadcrumb Styles */

.breadcrumb
  margin 0 1rem 1rem 1rem

  ul

    li
      display inline-block

      a,
      span
        display inline-block

      a
        font-weight bold
        &:hover
          text-decoration underline

      &:after
        color #666
        content '〉'
        padding-left 1rem

      &:last-child:after
          content ''
