.calendar
  border-collapse collapse

  tr.top
    background-color #b0

    a
      color #fff

  tr.days
    background-color #000
    color #fff

  th, td
    text-align center
    padding 4px
    border 1px solid #292933

  td
    .blank
      background-color #999
    .none
      background-color #ececec
    .today
      background-color #fff
    .event
      background-color #ececec
    a
      color #f00
