.calendar
  border-collapse collapse

  tr.top
    background-color #292933

    a
      color #ffe577
      font-family TradeGothic
      text-transform uppercase

  tr.days
    background-color #292933
    color #ffe577
    font-family TradeGothic
    text-transform uppercase

  th, td
    text-align center
    padding 5px

  td
    .blank
      background-color #999
    .none
      background-color #ececec
    .today
      background-color #fff
    .event
      background-color #ececec
    a
      color #f00
