/* pagination */

.pagination
  display flex
  align-items center
  justify-content center
  margin 10px auto

  a
    border-radius 50%
    text-align center
    width 24px
    height 24px
    line-height 24px
    margin 0 5px

  .unselectedpage
    background #292933
    color #fff

    &:hover
      background #f0f0f0
      color #292933

  .selectedpage
    background #f7303c
    color #fff

    &:hover
      background #f0f0f0
