/**
 * Bouton retour en haut de page
 */

#up
  position fixed
  border 0
  padding 0
  bottom 20px
  right 20px
  width 40px
  background-color #b00
  display none
  font-size 24px
  font-weight bold
  color #fff
  line-height 40px
  border-radius 50%

  &:hover
    background-color #d00
