.video
  .thumb
    padding-top 56.25% /* format 16/9 */
    background-color #000
    background-image none /* à définir dynamiquement */
    background-size cover
    background-position 50%
    position relative
    .playbtn
      visibility hidden
      display block
      position absolute
      top 0
      width 100%
      height 100%
      background-color #292933a0
      &:hover
        visibility visible
