<form id="form-message-write" name="form-message-write" action="/messagerie/write" method="post">
  <div class="row mb-3">
    <label class="form-label col-3" for="text">Ecrire à <a href="/membres/{{ id_to }}">{{ pseudo_to }}</a></label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_text"{% if not error_tex %} style="display: none"{% endif %}>Vous devez écrire quelque chose !</div>
      <textarea class="form-control" id="text" name="text" rows="10"></textarea>
    </div>
  </div>
  <div class="row mb-3">
    <input id="form-message-write-submit" class="offset-3 col-9 btn btn-primary" name="form-message-write-submit" type="submit" value="Envoyer">
  </div>
  <input type="hidden" id="to" name="to" value="{{ id_to }}">
</form>
