# commun
AddDefaultCharset UTF-8
AddCharset UTF-8 .html
AddCharset UTF-8 .xhtml
AddCharset UTF-8 .xml
AddCharset UTF-8 .json
AddCharset UTF-8 .css
AddCharset UTF-8 .js
RewriteRule ^(.*/)?\.svn/ - [F,L]
AddOutputFilterByType DEFLATE text/html text/xml application/xhtml+xml text/plain application/javascript text/css
DirectoryIndex index.html index.php
Options +FollowSymlinks
Options -MultiViews
Options -Indexes

# specifique
