{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Liste des structures</h1>
  </header>
  <div>
    <ul>
    {% for $structures as $structure}
      <li><img src="{{ structure.Picto }}" alt=""> <a href="{{ structure.Url }}">{{ structure.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>

{% include 'common/footer.twig' %}
