{% include 'common/header.twig' %}

<div class="container">

  <div class="row">
  <div class="col-md-8 mx-auto">

  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Ajouter un lieu</h2>
  <div class="border rounded-bottom bg-white p-3">

    <form id="form-lieu-create" name="form-lieu-create" action="/lieux/create" method="post" enctype="multipart/form-data" accept="image/jpeg">

      <div class="row mb-3">
        <label class="col-3 form-label" for="name">Nom (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_name"{% if not error_name %} style="display: none"{% endif %}>Vous devez saisir le nom du lieu</div>
          <input id="name" name="name" type="text" class="form-control" value="">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="id_type">Type (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_id_type"{% if not error_id_type %} style="display: none"{% endif %}>Vous devez préciser le type de lieu</div>
          <select id="id_type" name="id_type" class="form-control">
            <option value="0">--------</option>
            {% for lieu_type in lieu_types %}
            <option value="{{ lieu_type.id }}">{{ lieu_type.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="text">Description (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_text"{% if not error_text %} style="display: none"{% endif %}>Vous devez entrer une description pour le lieu</div>
          <textarea id="text" name="text" rows="5" class="form-control"></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="photo">Photo (format .jpg)</label>
        <div class="col-9">
          <input id="photo" class="form-control" name="photo" type="file">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="id_country">Pays (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_id_country"{% if not error_id_country %} style="display: none"{% endif %}>Vous devez choisir un pays</div>
          <select id="id_country" name="id_country" class="form-control">
            <option value="0">---</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="id_region">Région (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_id_region"{% if not error_id_region %} style="display: none"{% endif %}>Vous devez choisir une région</div>
          <select id="id_region" name="id_region" class="form-control">
            <option value="0">---</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="id_departement">Département (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_id_departement"{% if not error_id_departement %} style="display: none"{% endif %}>Vous devez choisir un département</div>
          <select id="id_departement" name="id_departement" class="form-control">
            <option value="0">---</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="id_city">Ville (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_id_city"{% if not error_id_city %} style="display: none"{% endif %}>Vous devez choisir une ville</div>
          <select id="id_city" name="id_city" class="form-control">
            <option value="0">---</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="address">Adresse (*)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_address"{% if not error_address %} style="display: none"{% endif %}>Vous devez préciser l'adresse</div>
          <input id="address" name="address" type="text" class="form-control" value="">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="site">Site</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_site"{% if not error_site %} style="display: none"{% endif %}>Vous devez saisir le site internet</div>
          <input id="site" name="site" type="text" class="form-control" value="">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="lat">Latitude</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_lat"{% if not error_lat %} style="display: none"{% endif %}>Vous devez préciser la latitude</div>
          <input id="lat" name="lat" type="text" class="form-control" value="">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="lng">Longitude</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_lng"{% if not error_lng %} style="display: none"{% endif %}>Vous devez préciser la longitude</div>
          <input id="lng" name="lng" type="text" class="form-control" value="">
        </div>
      </div>

      <div class="row mb-3">
        <div class="offset-3">
          <input id="form-lieu-create-submit" name="form-lieu-create-submit" class="btn btn-primary" type="submit" value="💾 Enregistrer">
        </div>
      </div>

    </form>

  </div>

</div>{# .col-md-8 #}
</div>{# .row #}
</div>{# .container #}

{% include 'common/footer.twig' %}
