{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h2>Suppression d'un compte</h2>
  </header>
  <div>

{% if unknown_member}}

<p class="infobulle error">Ce membre est introuvable !</p>

{% else %}

<form id="form-member-delete" name="form-member-delete" action="/membres/delete" method="POST">
  <p>Confirmer la suppression du membre {{ membre.Pseudo }} ?</p>
  <input class="btn btn--secondary" type="submit" id="form-member-delete-submit" name="form-member-delete-submit" value="Supprimer">
  <input type="hidden" name="id" value="{{ membre.Id }}">
</form>

{% endif %}

  </div>
</div>

{% include 'common/footer.twig' %}
