{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Message à {{ pseudo_to }}</h1>
  </header>
  <div>
    {% include 'messagerie/_write.twig' %}
  </div>
</div>

{% include 'common/footer.twig' %}
