@font-face
  font-family 'TradeGothic'
  src url('../fonts/trade-gothic-bold.woff2') format('woff2'),
      url('../fonts/trade-gothic-bold.woff') format('woff')
  font-weight bold
  font-style normal
