{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Newsletters</h1>
  </header>
  <div class="reset">
    <table class="table table--zebra">
      <thead>
        <tr>
          <th>Sujet</th>
        </tr>
      </thead>
      <tbody>
      {% for newsletter in newsletters %}
        <tr>
          <td><a href="/newsletters/{{ newsletter.id }}">{{ newsletter.title }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'common/footer.twig' %}
