{% include 'common/header.twig' %}

<div class="container">

<h1>Se connecter</h1>

{% if auth_failed %}
<div class="alert alert-danger">Authentification échouée</div>
{% endif %}

{% if auth_required %}
<div class="alert alert-warning">Vous devez posséder un compte AD'HOC pour accéder à cette page ou vous n'avez pas les droits suffisants</div>
{% endif %}

  <form id="form-login" name="form-login" method="post" action="/auth/login">
    <div class="mb-3">
      <label class="form-label" for="login-pseudo">Pseudo</label>
      <div class="alert alert-danger" id="error_login-pseudo"{% if not error_login_pseudo %} style="display: none"{% endif %}>Pseudo vide !</div>
      <input type="text" id="login-pseudo" name="pseudo" placeholder="Pseudo" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="login-password">Mot de passe</label>
      <div class="alert alert-danger" id="error_login-password"{% if not error_login_password %} style="display: none"{% endif %}>Mot de passe vide !</div>
      <input type="password" id="login-password" name="password" placeholder="Mot de passe" class="form-control">
    </div>
    <div class="mb-3">
      <input id="form-login-submit" name="form-login-submit" class="btn btn-primary" type="submit" value="Je me connecte">
    </div>
    {% if referer %}<input type="hidden" id="login-referer" name="referer" value="{{ referer|url_encode }}">{% endif %}
    <ul class="list-unstyled">
      <li><a href="/auth/lost-password">mot de passe oublié</a></li>
      <li><a href="/membres/create">créer un compte</a></li>
    </ul>
  </form>

</div>{# .container #}

{% include 'common/footer.twig' %}
