{% include 'common/header.twig' %}

{% if auth_failed %}
<div class="alert alert-danger">Authentification échouée</div>
{% endif %}

{% if auth_required %}
<div class="infobulle warning">Vous devez posséder un compte AD'HOC pour accéder à cette page ou vous n'avez pas les droits suffisants</div>
{% endif %}

<div class="box" style="width: 320px; margin: 0 auto 20px">
  <header>
    <h1>Se connecter</h1>
  </header>
  <div>
    <form id="form-login" name="form-login" method="post" action="/auth/login">
      <div class="mbs">
        <label for="login-pseudo">Pseudo</label>
        <div class="alert alert-danger" id="error_login-pseudo"{% if not error_login_pseudo %} style="display: none"{% endif %}>Pseudo vide !</div>
        <input type="text" id="login-pseudo" name="pseudo" placeholder="Pseudo" class="w100">
      </div>
      <div class="mbm">
        <label for="login-password">Mot de passe</label>
        <div class="alert alert-danger" id="error_login-password"{% if not error_login_password %} style="display: none"{% endif %}>Mot de passe vide !</div>
        <input type="password" id="login-password" name="password" placeholder="Mot de passe" class="w100">
      </div>
      <div class="mbs">
        <input id="form-login-submit" name="form-login-submit" class="btn btn--primary w100" type="submit" value="Je me connecte">
      </div>
      {% if referer %}<input type="hidden" id="login-referer" name="referer" value="{{ referer|url_encode }}">{% endif %}
      <div class="txtcenter">
        <ul>
          <li class="mbs"><a href="/auth/lost-password">mot de passe oublié</a></li>
          <li><a href="/membres/create">créer un compte</a></li>
        </ul>
      </div>
    </form>
  </div>
</div>

{% include 'common/footer.twig' %}
