{% include 'common/header.twig' %}

<div class="container">
  <h1>Mot de passe oublié</h1>

{% if sent_ok %}
<div class="alert alert-success">Un nouveau mot de passe vous a été attribué. Veuillez consulter votre boite aux lettres.</div>
{% endif %}

{% if sent_ko %}
<div class="alert alert-danger">Un nouveau mot de passe vous a été attribué mais l'envoi de l'email a échoué (c'est plutôt con !). Veuillez <a href="/contact">nous contacter</a>.</div>
  {% if new_password %}
  <div class="alert alert-success">{{ new_password }}</div>
  {% endif %}
{% endif %}

{% if err_email_unknown %}
<div class="alert alert-danger">Compte introuvable</div>
{% endif %}

{% if err_email_invalid %}
<div class="alert alert-danger">Erreur e-mail synatiquement incorrect.</div>
{% endif %}

{% if form %}
<form id="form-lost-password" name="form-lost-password" method="post" action="/auth/lost-password">
  <p>Veuillez entrer l'e-mail que vous avez utilisé pour l'inscription, un nouveau mot de passe vous sera envoyé par e-mail.</p>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <div class="alert alert-danger" id="error_email"{% if not error_email %} style="display: none"{% endif %}>Vous devez renseigner votre e-mail ou e-mail invalide</div>
    <input name="email" id="email" type="email" placeholder="E-mail" required="required" class="form-control">
  </div>
  <input id="form-lost-password-submit" name="form-lost-password-submit" class="btn btn-primary" type="submit" value="Ok">
</form>
{% endif %}

</div>

{% include 'common/footer.twig' %}
