<html>
<body style="margin: 0; padding: 0;">
{% if unknown_video}}
<p class="infobulle error">Cette vidéo est introuvable !</p>
{% else %}
{{ video.Player }}
{% endif %} {# test unknown video #}
</body>
</html>
