{% include 'common/header.twig' %}

<div class="container">
  <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Liste des structures</h1>
  <div class="border rounded-bottom bg-white p-3">
    <ul>
    {% for structure in structures %}
      <li><img src="{{ structure.picto }}" alt=""> <a href="{{ structure.url }}">{{ structure.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>

{% include 'common/footer.twig' %}
