{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Cotisations</h1>
  </header>
  <div>

<a href="/adm/subscriptions/create">Saisir une cotisation</a>

<table id="tab-subscriptions">
  <thead>
    <tr>
      <th>Date Cotisation</th>
      <th>Date Saisie</th>
      <th>Nom</th>
      <th>Prénom</th>
    </tr>
  </thead>
  <tbody>
    {% for from=$subscriptions item=subscription}
    <tr>
      <td>{{ subscription.SubscribedAt }}</td>
      <td>{{ subscription.CreatedAt }}</td>
      <td>{{ subscription.FirstName }}</td>
      <td>{{ subscription.LastName }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

  </div>
</div>

{% include 'common/footer.twig' %}
