{% include 'common/header.twig' %}

  <div class="box">
    <header>
      <h1>Groupes</h1>
    </header>

    {% if groupes|length == 0 %}
    <div>
      <p>Aucun groupe référencé.</p>
    </div>
    {% else %}
    <div class="reset grid-7-small-4 has-gutter">
      {% for groupe in groupes %}
      <div class="grpitem">
        <a href="{{ groupe.url }}">
          <img src="{{ groupe.miniPhoto }}" alt="" />
          <p>{{ groupe.name }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>

{% include 'common/footer.twig' %}
