@charset "UTF-8";
body {
    background: #ffffff url(http://static.adhocmusic.com/img/adhoc-bg-white.png);
    color: #fff;
    font-family: Arial;
    font-size: 14px;
}
#conteneur {
    background: #999;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#header {
    height: 110px;
    background: url(http://static.adhocmusic.com/img/logo_adhoc.png) 5px 5px no-repeat;
}
#footer {
    text-align: center;
    margin: 10px auto;
    color: #000;
}
#footer a {
    color: #000;
}
#intro {
    margin: 0;
    padding: 10px 10px 10px 130px;
    text-align: justify;
}
a {
    color: #ececec;
    text-decoration: none;
}
.thumbs {
    float: left;
    margin: 10px;
    padding: 0px;
    width: 300px;
    height: 260px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 5px 5px 50px rgba(30, 10, 30, 0.5);
    -moz-box-shadow: 5px 5px 50px rgba(30, 10, 30, 0.5);
    -webkit-box-shadow: 5px 5px 50px rgba(30, 10, 30, 0.5);
}
.thumbs:hover {
    background-color: #666;
}
.thumbs h3 {
    text-align: left;
    background-color: #933;
    font-size: 1.2em;
    padding: 5px;
    text-shadow: 1px 1px 1px #000;
}
.thumbs h4 {
    text-align: right;
    font-style: italic;
    background-color: #333;
    font-size: 1.0em;
    color: #cdcdcd;
    padding: 3px;
    margin: 0;
}
.thumbs a {
    color: #ececec;
}
.thumbs p {
    padding: 10px;
}
.thumbs img {
    width: 200px;
}
