{{ include('common/header.twig') }}

<div>
  <h2>Suppression d'un compte</h2>
<div>

{% if unknown_member %}

<p class="alert alert-danger">Ce membre est introuvable !</p>

{% else %}

<form id="form-member-delete" name="form-member-delete" action="/membres/delete" method="POST">
  <p>Confirmer la suppression du membre {{ membre.pseudo }} ?</p>
  <input class="btn btn-secondary" type="submit" id="form-member-delete-submit" name="form-member-delete-submit" value="Supprimer">
  <input type="hidden" name="id" value="{{ membre.idContact }}">
</form>

{% endif %}

{{ include('common/footer.twig') }}
