{{ include('common/header.twig') }}

<div class="container">
  <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Modifier une structure</h1>
  <div class="border rounded-bottom bg-white p-3">
    <form id="form-structure-edit" name="form-structure-edit" method="post" action="/structures/edit">
      <ul>
        <li>
          <div class="alert alert-danger" id="error_name"{% if not error_name %} style="display: none"{% endif %}>Vous devez saisir un titre pour la structure</div>
          <label for="name">Nom</label>
          <input type="text" id="name" name="name" value="{{ structure.name }}">
        </li>
      </ul>
      <input id="form-structure-edit-submit" name="form-structure-edit-submit" type="submit" value="Modifier">
      <input type="hidden" name="id" value="{{ structure.id }}">
    </form>
  </div>
</div>

{{ include('common/footer.twig') }}
