{{ include('common/header.twig') }}

<div class="container">
  <h1>Ajouter une page statique</h1>
<div>

<form id="form-cms-create" name="form-cms-create" action="/adm/cms/create" method="post">
  <ul>
    <li>
      <label for="uri">URI</label>
      <span>Ceci détermine l'adresse que vous voulez donner à la page. Attention aux doublons</span>
      https://www.adhocmusic.com <input type="text" id="uri" name="uri" placeholder="/a-changer" value="">
    </li>
    <li>
      <label for="menuselected">Menu</label>
      <span>Quel est le menu de 1er niveau qui est sélectionné ?</span>
      <span>home, assoce, groupes, agenda, medias, lieux, articles, forums, chat, contact</span>
      <input type="text" id="menuselected" name="menuselected" value="">
    </li>
    <li>
      <label for="breadcrumb">Fil d'ariane</label>
      <span>Le fil d'ariane quoi ...</span>
      <input type="text" id="breadcrumb" name="breadcrumb" placeholder="page1|url1|page2" value="">
    </li>
    <li>
      <label for="content">Contenu</label>
      <span>Contenu en html</span>
      <textarea id="content" name="content"></textarea>
    </li>
    <li>
      <label for="auth">Droits d'identification</label>
      <select id="auth" name="auth">
      <option value="0">Non</option>
      {% for auth_id, auth_name in auth %}
      <option value="{{ auth_id }}">{{ auth_name }}</select>
      {% endfor %}
    </li>
  </ul>
  <input id="form-cms-create-submit" name="form-cms-create-submit" type="submit" value="OK" class="btn btn-primary">
</form>

{{ include('common/footer.twig') }}
