{% include 'common/header.twig' %}

<div class="box">
  <h1>Effacer une page statique</h1>
  <div>
    <form id="form-cms-delete" name="form-cms-delete" action="/adm/cms/delete" method="post">
      <p>Confirmer la suppression de cette page : {{ cms.alias }}</p>
      <input id="form-cms-delete-submit" name="form-cms-delete-submit" type="submit" value="Supprimer" class="btn btn-primary">
      <input type="hidden" name="id_cms" value="{{ cms.id }}">
    </form>
  </div>
</div>

{% include 'common/footer.twig' %}
