{% include 'common/header.twig' %}

<div class="box">
  <h1>Pages Statiques</h1>
  <div>

{% if create %}<p class="alert alert-success">Page ajoutée</p>{% endif %}
{% if edit %}<p class="alert alert-success">Page modifiée</p>{% endif %}
{% if delete %}<p class="alert alert-success">Page supprimée</p>{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="w10">Id</th>
      <th scope="col" class="w20">Alias</th>
      <th scope="col">Titre</th>
      <th scope="col" class="w10">En Ligne</th>
    </tr>
  </thead>
  <tbody>
    {% for cms in cmss %}
    <tr>
      <td>{{ cms.id }}</td>
      <td><a href="/adm/cms/edit/{{ cms.id }}">{{ cms.alias }}</a></td>
      <td>{{ cms.title }}</td>
      <td>{% if cms.online %}✓{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary" href="/adm/cms/create">Ajouter une page</a>

  </div>
</div>

{% include 'common/footer.twig' %}
